# 6장 데이터 로딩과 저장, 파일 형식

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
pd.options.display.max_colwidth = 75
pd.options.display.max_columns = 20
np.set_printoptions(precision=4, suppress=True)
plt.rcParams["font.family"] = 'Malgun Gothic'

# 1. csv 텍스트 데이터
## 1.1 csv파일 읽기
* 판다스에서 CSV 파일을 읽기: pd.read_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

    1) header(컬럼명)가 있는 파일

In [3]:
!cat examples/ex1.csv

df = pd.read_csv("examples/ex1.csv")
df

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    2) header가 없는 파일 : 컬럼을 지정
        * names 인수 - 열 이름 리스트
        * header 인수 - 헤더가 없을 경우 None으로 지정

In [4]:
pd.read_csv("examples/ex2.csv")

names = ["a", "b", "c", "d", "message"]
pd.read_csv("examples/ex2.csv", names=names)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    3) 계층적 색인 지정하기
        * index_col 인수 - 색인으로 사용할 열 번호나 이름, 계층적 색인을 지정할 경우 리스트

In [5]:
parsed = pd.read_csv("examples/csv_mindex.csv",
                     index_col=["key1", "key2"])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

    4) 여러 개의 공백으로 필드를 구분한 파일 
        * sep 인수 - 필드을 구분하기 위해 사용할 정규 표현식

In [6]:
result = pd.read_csv("examples/ex3.txt", sep="\s+")
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

    5) 주석을 갖고 있는 파일
        * skiprows 인수 - 파일의 시작부터 무시할 행 수 또는 무시할 행 번호가 담긴 리스트

In [7]:
pd.read_csv("examples/ex4.csv", skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

    6) 누락된 값이 있는 파일 : 비어 있는 문자열, NA, NULL을 NaN으로 출력 
        * na_values 인수 - NA 값으로 처리할 값들의 목록

In [22]:
result = pd.read_csv("examples/ex5.csv")
result
# 1) 누락된 값을 확인 : isna()함수 이용
pd.isna(result)

# 2) na_values -> 컬럼별 문자열 집합을 받아서 누락된 값 처리
sentinels = {"message": ["foo", "NA"], "something": ["two"]}
result = pd.read_csv("examples/ex5.csv", na_values=sentinels)
print(result)
result.isna()

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

   something      a      b      c      d  message
0      False  False  False  False  False     True
1       True  False  False   True  False    False
2      False  False  False  False  False     True

    7) 텍스트 파일 조금씩 
        * nrows 인수 - 파일의 첫 일부만 읽어올 때 처음 몇 줄을 읽을 것인지 지정 
        * chunksize 인수 - TextParser 객체에서 사용할 한 번에 익을 파일의 크기

In [9]:
#pd.options.display.max_rows = 10
result = pd.read_csv("examples/ex6.csv")

result = pd.read_csv("examples/ex6.csv", nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

### [예제]  ex6.csv 파일을 순회하면서 "key"열의 값을 세기

In [12]:
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)

tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)
tot
tot[:10]

key
E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

## 1.2. csv 텍스트 파일 저장하기
* 판다스에서 CSV 파일을 저장하기: df.to_csv(path, encoding = 'utf-8') 함수를 사용
    * path 인수 : 파일시스템에서의 위치, URL, 파일객체를 나타내는 문자열
    * encoding 인수 - 유니코드 인코딩 종류을 지정

In [23]:
data = pd.read_csv("examples/ex5.csv")
data1 = data[['a','b','d']]
data1

   a   b   d
0  1   2   4
1  5   6   8
2  9  10  12

In [24]:
data1.to_csv("examples/out.csv")
!cat examples/out.csv

,a,b,d
0,1,2,4
1,5,6,8
2,9,10,12

In [25]:
data.to_csv("examples/out.csv", sep="|") # 구분자 사용
data.to_csv("examples/out.csv", na_rep = "NULL") #누락된 값을 원하는 값으로 지정
data.to_csv("examples/out.csv", index=False, header=False)
data.to_csv("examples/out.csv", index=False, columns=["a", "b", "c"])

!cat examples/out.csv

a,b,c
1,2,3.0
5,6,
9,10,11.0

# 2. JSON  데이터
* JSON(JavaScript Object Notation)은 텍스트 데이터를 저장하고 전송하기 위한 일반적인 형식
* 주로 웹에서 데이터를 전송하거나 저장하는 데 사용
* JSON 파일은 일반적으로 텍스트 형식으로 작성되며, 사람과 기계 모두 이해하기 쉽다.
* JSON 파일은 키-값 쌍의 모음으로 구성
  * 키-값 쌍은 객체(object)라고도 하며, 중괄호 {} 로 묶는다.
  * 배열(array)은 대괄호 [] 안에 값의 목록을 나열하여 정의.

## 2.1 JSON 데이터 읽기/저장
    * pandas의 to_json() -> 데이터프레임을 JSON 파일로 저
    * read_json() -> JSON 파일에서 데이터프레임을 읽어오기

### [예제]  pandas의 to_json() 및 read_json() 메서드를 사용하여 데이터프레임을 JSON 파일로 저장하고 읽기

In [27]:
# 1. pandas 라이브러리 임포트

import pandas as pd

# 2. JSON 파일로 저장할 데이터프레임 생성
data = {
    "name": ["John", "Alice", "Bob"],
    "age": [30, 25, 35],
    "city": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)

# 3. 데이터프레임을 JSON 파일로 저장
df.to_json("examples/data.json")

# JSON 파일을 읽어와 데이터프레임으로 변환
df_read = pd.read_json("examples/data.json")

print("Original DataFrame:")
print(df)

print("\nDataFrame from JSON file:")
print(df_read)

Original DataFrame:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

DataFrame from JSON file:
    name  age         city
0   John   30     New York
1  Alice   25  Los Angeles
2    Bob   35      Chicago

# 3. HTML 데이터
## 3.1 웹 스크래핑 - read_html()

* read_html() - html 문서 내 테이블 데이터 읽어 테이블 구조의 모든 데이터를 데이터프레임으로 저장해서 반환
    * https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/

#### [예제] 미국 예금 보험 공사에서 부도 은행을 보여주는 HTML 문서 읽어오기

In [28]:
import pandas as pd
from pandas import Series, DataFrame

#tables = pd.read_html("examples/fdic_failed_bank_list.html") 
tables = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/")
len(tables)
print(type(tables))
failures = tables[0]
print(type(failures))
failures.head()

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
3,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
4,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539

In [30]:
# 1) 컬럼명 수정하기
failures.columns
failures.columns = ['BankNameBank', 'CityCity', 'StateSt', 'CertCert',
       'AcquiringInstitutionAI', 'ClosingDate', 'FundFund']
failures.head(3)

,BankNameBank,CityCity,StateSt,CertCert,AcquiringInstitutionAI,ClosingDate,FundFund
0,Citizens Bank,Sac City,IA,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
1,Heartland Tri-State Bank,Elkhart,KS,25851,"Dream First Bank, N.A.","July 28, 2023",10544
2,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543

In [31]:
# 2) 데이터 변환 : 문자열 -> datetime
close_timestamps = pd.to_datetime(failures["ClosingDate"])
close_timestamps
#3) 년도별 데이터 개수 추출
close_timestamps.dt.year.value_counts()

ClosingDate
2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2023      5
2016      5
2020      4
2004      4
2019      4
2001      4
2007      3
2003      3
2000      2
Name: count, dtype: int64

#### [실습] : 네이버 주식 데이터 가져오기 - read_html()
* https://www.naver.com/ -> 증권 -> 국내증시 -> 시가총액
    * https://finance.naver.com/sise/sise_market_sum.naver

In [34]:
!pip install html5lib  lxml

Requirement already satisfied: html5lib in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.1)
Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (5.1.0)
Requirement already satisfied: six>=1.9 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from html5lib) (0.5.1)

In [39]:
import pandas as pd

# 'euc-kr' 또는 'cp949'로 인코딩 설정하여 페이지 읽기 시도
df_list = pd.read_html("https://finance.naver.com/sise/sise_market_sum.naver", encoding="cp949", flavor='html5lib')

# 데이터프레임 확인
for df in df_list:
    print(df)

     0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)
       N       종목명       현재가      전일비     등락률     액면가       시가총액      상장주식수  \
0    NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
1    1.0      삼성전자   82000.0    400.0  -0.49%   100.0  4895222.0  5969783.0
2    2.0    SK하이닉스  185500.0   2500.0  +1.37%  5000.0  1350444.0   728002.0
3    3.0  LG에너지솔루션  395500.0    500.0  +0.13%   500.0   925470.0   234000.0
4    4.0  삼성바이오로직스  816000.0  15000.0  -1.81%  2500.0   580780.0    71174.0
..   ...       ...       ...      ...     ...     ...        ...        ...
76  49.0  HD한국조선해양  119700.0   1300.0  +1.10%  5000.0    84715.0    70773.0
77  50.0      대한항공   22050.0    350.0  +1.61%  5000.0    81193.0   368221.0
78   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
79   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
80   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN

    외국인비율         거래량    PER    ROE  토론실
0     NaN         NaN    NaN    NaN  NaN
1   55.31  20039134.0  38.48   4.15  NaN
2   54.76   2679276.0 -14.82 -15.61  NaN
3    4.98     99498.0  74.81   6.36  NaN
4   12.02     56042.0  67.71   9.12  NaN
..    ...         ...    ...    ...  ...
76  26.85    155487.0  38.21   2.26  NaN
77  16.66    735541.0   7.67  11.46  NaN
78    NaN         NaN    NaN    NaN  NaN
79    NaN         NaN    NaN    NaN  NaN
80    NaN         NaN    NaN    NaN  NaN

[81 rows x 13 columns]
   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

C:\Users\USER\AppData\Local\Programs\Python\Python311\Lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [48]:
# 데이터프레임 변경
df = df_list[1]
data = df[df['종목명'].notnull()] # 조건색인
data.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,82000.0,400.0,-0.49%,100.0,4895222.0,5969783.0,55.31,20039134.0,38.48,4.15,NaN
2,2.0,SK하이닉스,185500.0,2500.0,+1.37%,5000.0,1350444.0,728002.0,54.76,2679276.0,-14.82,-15.61,NaN
3,3.0,LG에너지솔루션,395500.0,500.0,+0.13%,500.0,925470.0,234000.0,4.98,99498.0,74.81,6.36,NaN
4,4.0,삼성바이오로직스,816000.0,15000.0,-1.81%,2500.0,580780.0,71174.0,12.02,56042.0,67.71,9.12,NaN
5,5.0,삼성전자우,68000.0,0.0,0.00%,100.0,559563.0,822887.0,75.48,1378501.0,31.91,NaN,NaN

 #### [실습] : 네이버 주식 데이터 가져오기 - Selenium을 활용하여 read_html() 함수

In [51]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.1)
Requirement already satisfied: trio~=0.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (3.6)
Requirement already satisfied: outcome in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [53]:
from selenium import webdriver
import pandas as pd

# Chrome 브라우저를 열고 웹 페이지로 이동
driver = webdriver.Chrome()
driver.get("https://finance.naver.com/sise/sise_market_sum.naver")

# 페이지가 로드될 때까지 기다림 (5초)
driver.implicitly_wait(5)

# 페이지의 HTML 가져오기
html = driver.page_source

# HTML을 데이터프레임으로 읽기 시도
df_list = pd.read_html(html)

# 데이터프레임 확인
for df in df_list:
    print(df)

# 데이터프레임 수정

# 브라우저 닫기
driver.quit()

C:\Users\USER\AppData\Local\Temp\ipykernel_20216\2566043073.py:15: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_list = pd.read_html(html)

     0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)
       N       종목명       현재가      전일비     등락률     액면가       시가총액      상장주식수  \
0    NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
1    1.0      삼성전자   82000.0    400.0  -0.49%   100.0  4895222.0  5969783.0
2    2.0    SK하이닉스  185500.0   2500.0  +1.37%  5000.0  1350444.0   728002.0
3    3.0  LG에너지솔루션  395500.0    500.0  +0.13%   500.0   925470.0   234000.0
4    4.0  삼성바이오로직스  816000.0  15000.0  -1.81%  2500.0   580780.0    71174.0
..   ...       ...       ...      ...     ...     ...        ...        ...
76  49.0  HD한국조선해양  119700.0   1300.0  +1.10%  5000.0    84715.0    70773.0
77  50.0      대한항공   22050.0    350.0  +1.61%  5000.0    81193.0   368221.0
78   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
79   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
80   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN

    외국인비율         거래량    PER    ROE  토론실
0     NaN         NaN    NaN    NaN  NaN
1   55.31  20039134.0  38.48   4.15  NaN
2   54.76   2679276.0 -14.82 -15.61  NaN
3    4.98     99498.0  74.81   6.36  NaN
4   12.02     56042.0  67.71   9.12  NaN
..    ...         ...    ...    ...  ...
76  26.85    155487.0  38.21   2.26  NaN
77  16.66    735541.0   7.67  11.46  NaN
78    NaN         NaN    NaN    NaN  NaN
79    NaN         NaN    NaN    NaN  NaN
80    NaN         NaN    NaN    NaN  NaN

[81 rows x 13 columns]
   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

In [285]:
# 수정 1
df = df_list[0]
df

     0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

In [288]:
df = df_list[1]
df.columns
df.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,82500.0,100.0,+0.12%,100.0,4925071.0,5969783.0,55.31,11614947.0,38.71,4.15,NaN
2,2.0,SK하이닉스,185700.0,2700.0,+1.48%,5000.0,1351900.0,728002.0,54.76,1626943.0,-14.84,-15.61,NaN
3,3.0,LG에너지솔루션,394000.0,1000.0,-0.25%,500.0,921960.0,234000.0,4.98,52084.0,74.52,6.36,NaN
4,4.0,삼성바이오로직스,821000.0,10000.0,-1.20%,2500.0,584339.0,71174.0,12.02,29394.0,68.13,9.12,NaN

In [54]:
# 수정 (2) : NaN 값 제거하기 위한 조건색인을 넣기
data = df_list[1]
data['종목명'].notna() # 조건 색인
data[data['종목명'].notna()] #종목명의 값이 NaN이 아니면, True, NaN이면 False

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,82000.0,400.0,-0.49%,100.0,4895222.0,5969783.0,55.31,20039134.0,38.48,4.15,NaN
2,2.0,SK하이닉스,185500.0,2500.0,+1.37%,5000.0,1350444.0,728002.0,54.76,2679276.0,-14.82,-15.61,NaN
3,3.0,LG에너지솔루션,395500.0,500.0,+0.13%,500.0,925470.0,234000.0,4.98,99498.0,74.81,6.36,NaN
4,4.0,삼성바이오로직스,816000.0,15000.0,-1.81%,2500.0,580780.0,71174.0,12.02,56042.0,67.71,9.12,NaN
5,5.0,삼성전자우,68000.0,0.0,0.00%,100.0,559563.0,822887.0,75.48,1378501.0,31.91,NaN,NaN
9,6.0,현대차,227500.0,5500.0,-2.36%,5000.0,481234.0,211532.0,38.22,878094.0,5.22,13.68,NaN
10,7.0,기아,108700.0,1500.0,-1.36%,5000.0,437022.0,402044.0,40.31,1107331.0,4.99,20.44,NaN
11,8.0,셀트리온,188100.0,3100.0,-1.62%,1000.0,410152.0,218050.0,23.10,667918.0,51.69,5.07,NaN
12,9.0,POSCO홀딩스,418000.0,4000.0,-0.95%,5000.0,353508.0,84571.0,27.30,399867.0,20.82,3.18,NaN
13,10.0,NAVER,194300.0,6900.0,+3.68%,100.0,315560.0,162409.0,45.47,1385197.0,31.44,4.41,NaN
17,11.0,삼성SDI,454000.0,17000.0,-3.61%,5000.0,312191.0,68765.0,42.31,447793.0,15.90,11.48,NaN
18,12.0,LG화학,430500.0,8500.0,-1.94%,5000.0,303900.0,70592.0,39.99,237882.0,25.19,4.20,NaN
19,13.0,삼성물산,157600.0,900.0,-0.57%,100.0,292492.0,185592.0,24.57,267384.0,13.33,7.28,NaN
20,14.0,KB금융,68400.0,1100.0,-1.58%,5000.0,276002.0,403511.0,75.63,721039.0,5.87,9.17,NaN
21,15.0,카카오,53800.0,100.0,+0.19%,100.0,239492.0,445153.0,28.20,771745.0,-23.64,-10.26,NaN
25,16.0,현대모비스,251000.0,4000.0,-1.57%,5000.0,235074.0,93655.0,40.08,198225.0,6.91,8.73,NaN
26,17.0,신한지주,45550.0,450.0,-0.98%,5000.0,233562.0,512759.0,61.00,1122773.0,5.42,8.36,NaN
27,18.0,포스코퓨처엠,296000.0,7500.0,-2.47%,500.0,229291.0,77463.0,8.61,251063.0,797.84,1.19,NaN
28,19.0,삼성생명,91500.0,800.0,-0.87%,500.0,183000.0,200000.0,19.45,272861.0,7.32,5.73,NaN
29,20.0,메리츠금융지주,82000.0,300.0,+0.37%,500.0,166765.0,203372.0,16.60,251886.0,7.74,30.32,NaN
33,21.0,하나금융지주,56400.0,1300.0,-2.25%,5000.0,164889.0,292357.0,70.44,897858.0,4.86,9.01,NaN
34,22.0,LG전자,96500.0,1400.0,+1.47%,5000.0,157920.0,163648.0,29.93,312707.0,24.48,3.69,NaN
35,23.0,삼성화재,305000.0,1000.0,-0.33%,500.0,144493.0,47375.0,53.55,61227.0,8.47,9.70,NaN
36,24.0,한국전력,22100.0,100.0,+0.45%,5000.0,141874.0,641964.0,15.15,972438.0,-2.94,-12.63,NaN
37,25.0,한미반도체,142300.0,8600.0,+6.43%,100.0,138514.0,97339.0,16.36,4868167.0,51.84,55.54,NaN
41,26.0,LG,86600.0,900.0,-1.03%,5000.0,136223.0,157301.0,35.52,175243.0,11.01,4.89,NaN
42,27.0,카카오뱅크,27400.0,150.0,-0.54%,5000.0,130676.0,476921.0,16.83,526842.0,38.43,4.68,NaN
43,28.0,SK,177000.0,1600.0,-0.90%,200.0,129561.0,73198.0,24.77,184226.0,-16.86,-3.67,NaN
44,29.0,삼성에스디에스,165400.0,1900.0,+1.16%,500.0,127983.0,77378.0,18.49,171591.0,18.46,8.22,NaN
45,30.0,크래프톤,250500.0,3500.0,+1.42%,100.0,121153.0,48364.0,34.86,73937.0,20.50,11.16,NaN
49,31.0,KT&G,91500.0,2000.0,-2.14%,5000.0,119245.0,130322.0,44.31,156281.0,13.83,9.76,NaN
50,32.0,삼성전기,153900.0,5200.0,+3.50%,5000.0,114954.0,74694.0,31.27,712435.0,28.24,5.50,NaN
51,33.0,SK이노베이션,117400.0,1400.0,+1.21%,5000.0,112394.0,95736.0,22.89,256529.0,44.74,1.22,NaN
52,34.0,SK텔레콤,52200.0,300.0,-0.57%,100.0,112120.0,214790.0,42.63,282427.0,10.45,9.63,NaN
53,35.0,두산에너빌리티,17270.0,50.0,+0.29%,5000.0,110625.0,640561.0,17.78,2125551.0,198.51,0.78,NaN
57,36.0,HMM,15870.0,150.0,+0.95%,5000.0,109351.0,689039.0,10.72,1476480.0,8.68,4.59,NaN
58,37.0,HD현대중공업,121300.0,3300.0,+2.80%,5000.0,107682.0,88773.0,7.86,125976.0,436.33,0.47,NaN
59,38.0,기업은행,13310.0,190.0,-1.41%,5000.0,106137.0,797426.0,14.84,2303792.0,3.70,9.85,NaN
60,39.0,한화에어로스페이스,209000.0,4500.0,+2.20%,5000.0,105817.0,50630.0,35.88,317374.0,12.94,25.60,NaN
61,40.0,우리금융지주,14070.0,250.0,-1.75%,5000.0,105799.0,751949.0,41.21,1860942.0,4.15,8.30,NaN
65,41.0,SK스퀘어,75500.0,3500.0,-4.43%,100.0,104931.0,138981.0,49.75,409407.0,-8.26,-8.04,NaN
66,42.0,KT,37700.0,0.0,0.00%,5000.0,97214.0,257861.0,45.38,225518.0,9.70,6.05,NaN
67,43.0,하이브,226500.0,3500.0,-1.52%,500.0,94342.0,41652.0,21.08,247223.0,50.29,6.58,NaN
68,44.0,고려아연,451000.0,1000.0,-0.22%,5000.0,94298.0,20909.0,17.94,26174.0,17.26,5.72,NaN
69,45.0,포스코인터내셔널,52800.0,100.0,-0.19%,5000.0,92887.0,175923.0,6.95,367912.0,13.77,13.36,NaN
73,46.0,에코프로머티,131500.0,700.0,+0.54%,500.0,90716.0,68985.0,2.48,364316.0,1547.06,0.91,NaN
74,47.0,S-Oil,78000.0,500.0,-0.64%,2500.0,87815.0,112583.0,78.72,115054.0,9.59,10.83,NaN
75,48.0,한화오션,27950.0,350.0,+1.27%,5000.0,85627.0,306359.0,17.08,1411329.0,36.92,6.33,NaN
76,49.0,HD한국조선해양,119700.0,1300.0,+1.10%,5000.0,84715.0,70773.0,26.85,155487.0,38.21,2.26,NaN
77,50.0,대한항공,22050.0,350.0,+1.61%,5000.0,81193.0,368221.0,16.66,735541.0,7.67,11.46,NaN

## 3.2 웹 스크래핑 - requests

* 웹 페이지 정보 가져오기 - requests 패키지 이용

### [예제]

In [57]:
# 1. requests 모듈 설치하기
#!pip install requests
# 2. requests 모듈 임포트하기
import requests
#3. url 가져오기
url = "https://api.github.com/repos/pandas-dev/pandas/issues"
resp = requests.get(url)
print(resp.status_code)
# 4. json 내용을 딕셔너리로 변환
data = resp.json() # json의 내용을 딕셔너리 형태로 변환한 객체을 반환
# data[0]["title"]
data[0].keys() # 키 정보 출력
# 5. 딕셔너리를 DataFrame으로 생성하기
issues = pd.DataFrame(data, columns=["number", "title",
                                     "labels", "state"])
issues.head()

200

,number,title,labels,state
0,58113,ENH: function to concatenate columns with a separator,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg==', 'url': 'https://api.g...",open
1,58110,DEPR: rename `startingMonth` to `starting_month` (argument in BQuarterB...,[],open
2,58108,ENH: Series.map() that works with a dictionary of key-list pairs,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg==', 'url': 'https://api.g...",open
3,58105,Backport PR #58087 on branch 2.2.x (BLD: Build wheels using numpy 2.0rc1),"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNTA=', 'url': 'https://api....",open
4,58104,COMPAT/TST: Ensure that numpy 2 string dtype converts to object array i...,"[{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2ODU=', 'url': 'https://api....",open

### [문제] 네이버 데이터 가져오기

In [58]:
import requests

params = {
    'pageNo' : 1,
    'rangeType' : 'ALL',
    'orderBy' : 'sim',
    'keyword' : '파이썬'
}

response = requests.get('https://section.blog.naver.com/Search/Post.naver?', params=params)

print(response.status_code) # HTTP GET 방식으로 URL 파라미터 값 전달
print(response.url) # status_code 는 응답코드
print(response.text) # text에는 HTML 코드

200
https://section.blog.naver.com/Search/Post.naver?pageNo=1&rangeType=ALL&orderBy=sim&keyword=%ED%8C%8C%EC%9D%B4%EC%8D%AC




<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/home" />
    <meta name="robots" content="noindex,nofollow"/>
    <meta name="referrer" content="always"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/x-icon" href="https://section.blog.naver.com/favicon.ico?3"/>








		<meta property="og:title" content="파이썬 : 네이버 블로그"/>




			<meta property="og:image" content="https://blogimgs.pstatic.net/nblog/mylog/post/og_default_image_160610.png"/>


        <meta property="og:description" content="당신의 모든 기록을 담는 공간"/>





<meta property="me:feed:serviceId" content="blog" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>네이버 블로그</title>

    <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/t.static.blog/section/versioning/section_ngapp-246879052_https.css" charset="UTF-8" />

    <script>
        var angularConfig = {"isDev":false,"jeagleEyeDebug":false};
        var readOnlyStatus = {"isReadOnly":false,"startTime":null,"endTime":null,"reason":null,"usageTip":null,"maintenanceType":null,"maintenancePeriod":null};
        var urlMap = {"item2":"https://item2.naver.com","likeit":"https://blog.like.naver.com","admin":"https://admin.blog.naver.com","section":"https://section.blog.naver.com","blog":"https://blog.naver.com","mkt_p1":"https://mkt.naver.com/p1/","kin":"http://kin.naver.com","search":"http://search.naver.com","apigw_like":"https://apis.naver.com/blogserver/like","guestbook":"https://guestbook.blog.naver.com","beyond_analytics":"https://scv-blog.io.naver.com/jackpotlog/v1/logs","sspndpsdk":"https://ssl.pstatic.net/tveta/libs/ndpsdk/prod","gn_stndard":"https://ssl.pstatic.net/static.gn/templates/gnb_utf8.nhn","sellerBlog":"https://seller.blog.naver.com","lcs":"lcs.naver.com","ad":"https://siape.veta.naver.com","id_secret":"https://nid.naver.com","likeitcdn":"https://static-like.pstatic.net","nmobile":"https://m.blog.naver.com","spi":"https://ssl.pstatic.net/spi","blog_proxy":"https://proxy.blog.naver.com","blogprofilethumb":"https://blogpfthumb-phinf.pstatic.net","help":"http://help.naver.com","uns":"https://notice.naver.com","thumbnail2":"https://blogthumb.pstatic.net"};
        var isLikeUseProxy = false;
        var g_ssc = "blog.mainv2";
        var isSocialUseProxy = false;
        var isGladSdkNew = false;

        // 팝업을 통해서 부모창을 제어하기 위해 필요
        // document.domain = 'naver.com';
        //튜토리얼 css 가 제대로 동작안해서 필요
        var doc = document.documentElement;
        doc.setAttribute('data-useragent',navigator.userAgent);
        var uploadURL = "https://upload.blog.naver.com";
        var userNaverId = "";
    </script>
    <script type="text/javascript" src="https://ssl.pstatic.net/t.static.blog/section/versioning//common/js/lottie.min-0e23629_https.js"></script>
    <script type="text/javascript" src="https://ssl.pstatic.net/t.static.blog/section/versioning/NgAppBundle1-1693215087_https.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://ssl.pstatic.net/t.static.blog/section/versioning/NgAppBundle2-1927322194_https.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://ssl.pstatic.net/t.static.blog/section/versioning/NgTemplate-471391437_https.js" charset="UTF-8"></script>

</head>
<template id="blogDomainRegisterLayerTemplate">
    <div id="sellerAlertLayer" class="SetBlogId_layer_wrap" style="display:none;">
        <div class="caution_alert_content">
            <i class="icon"></i>
            <div class="text_area">
                <strong class="title">블로그 주소 변경 불가 안내</strong>
                <p class="desc">
                    블로그 마켓 판매자의 이력 관리를 위해<br>
                    블로그 주소 변경이 불가합니다.
                </p>
            </div>
            <div class="btn_area">
                <a href="https://help.naver.com/alias/blog/blogmarket/blogmarket14.naver" class="btn">자세히 보기</a>
                <button id="sellerAlertLayerClose" type="button" class="close_btn">레이어 닫기</button>
            </div>
        </div>
    </div>

    <div id="blogDomainRegisterSuggestionLayer" class="SetBlogId_layer_wrap IntroBlogId_layer" style="display: none;">
        <div class="BlogId_content">
            <div class="img_area">
                <img src="https://ssl.pstatic.net/static/blog/img_ani_blogid1.gif" width="335" height="260" class="img" alt="블로그 아이디가 필요해요!">
            </div>
            <div class="text_area">
                <strong class="title">블로그 아이디가 필요해요!</strong>
                <p class="desc">
                    블로그에서 진짜 나를 기록하고<br>
                    다양한 이웃과 소식을 만나보세요. 지금 시작해볼까요?
                </p>
            </div>
            <div class="btn_area">
                <a id="blogDomainRegisterStartBtn" onclick="nclk_v2(this, 'bsu.popupok', '', '');return false;" class="btn">블로그 아이디 만들기</a>
                <a id="blogDomainRegisterSuggestionLayerCloseBtn" onclick="nclk_v2(this, 'bsu.popupclose', '', '');return false;" class="close_btn">블로그 아이디 만들기 레이어 닫기</a>
            </div>
        </div>
    </div>

    <div id="domainInputLayer" class="SetBlogId_layer_wrap" style="display: none;">
        <div class="BlogId_content">
            <h1 id="blogDomainTitle" class="title_h1"></h1>
            <div class="domain">
                blog.naver.com/<strong id="domainIdInfo" class="blogid"></strong>
            </div>
            <!-- 오류 .error -->
            <!-- 인증 성공 .success -->
            <div id="blogidMessageWrap" class="input_blogid_area">
                <input id="domainInput" class="input_text" type="text" placeholder="블로그아이디" maxlength="20" autocomplete="off">
                <div class="right_area">
                    <button id="clearDomainInputBtn" type="button" class="del_btn" style="display: none">
                        입력 내용 삭제
                    </button>
                    <!-- 아이디 입력중 -->
                    <i class="loading_icon" id="loading_icon"></i>
                </div>
                <div id="domainMessage" class="message"></div>
            </div>
            <div id= "recommendDomainIdDiv" class="recommend_blogid">
                <ul id="recommendDomainId" class="list">
                </ul>
            </div>
            <div class="desc_area">
                <ul class="list">
                    <li class="item">
                        설정한 아이디는 나중에 변경할 수 없으니 신중하게 입력해주세요.
                    </li>
                    <li class="item blogDomainChangeOnlyViewDesc">
                        변경 전 공유된 블로그/글/클립 링크는 연결이 끊길 수 있습니다.
                    </li>
                    <li class="item">
                        <strong class="strong">네이버 아이디 또는 개인정보가 포함된 문자 사용</strong>은 피해주세요.
                    </li>
                    <li class="item blogDomainChangeOnlyViewDesc">
                        블로그 도움말에서 아이디 변경 유의사항을 확인해보세요.
                    </li>
                </ul>
            </div>
            <div class="btn_area">
                <button id="blogDomainRegisterCancelBtn" type="button" class="cancel_btn">
                    나중에 할게요
                </button>
                <input id="domainRegisterBtn" type="submit" value="확인" class="submit_btn" onclick="return false;" disabled="">
            </div>
        </div>
    </div>

    <div id="domainChangeConfirmLayer" class="SetBlogId_layer_wrap SetBlogIdAlert_wrap" style="display:none;">
        <div class="SetBlogIdAlert_content">
            <div class="blogid_area">
                <div id="changeConfirmDomainId" class="blogid"></div>
                <div id="changeConfirmDomainURL" class="domain"></div>
            </div>
            <div class="text_area">
                <p class="text_small">
                    1. 이전 주소로 공유된 글은<br>
                    3개월간 새로운 주소로 연결을 지원하며<br>
                    이후 언제든 연결이 끊길 수 있습니다.
                </p>
                <p class="text_small">
                    2. 블로그 아이디는 한번 변경하면<br>
                    <strong class="red_color">다시 변경이 불가능</strong>합니다.
                </p>
                <p class="text_small">
                    <strong>변경하시겠습니까?</strong>
                </p>
            </div>
            <div class="btn_area">
                <button id="changeConfirmCancleBtn" type="button" class="btn">취소</button>
                <button id="changeConfirmSubmitBtn" type="button" class="btn">확인</button>
            </div>
        </div>
    </div>

    <div id="domainConfirmLayer" class="SetBlogId_layer_wrap SetBlogIdAlert_wrap" style="display:none;">
        <div class="SetBlogIdAlert_content">
            <div class="blogid_area">
                <div class="img_area">
                    <img src="https://ssl.pstatic.net/static/blog/img_ani_blogid2.gif" width="208" height="86" alt="섬네일">
                </div>
                <div id="confirmDomainId" class="blogid"></div>
                <div id="confirmDomainURL" class="domain"></div>
            </div>
            <div class="text_area">
                <p class="text_red">
                    블로그 아이디는 한번 정하면
                    <br>
                    다시 변경이 불가능합니다.
                </p>
                <p class="text">이 아이디로 블로그를 만들까요?</p>
            </div>
            <div class="btn_area">
                <button id="confirmCancleBtn" type="button" class="btn">취소</button>
                <button id="confirmSubmitBtn" type="button" class="btn">확인</button>
            </div>
        </div>
    </div>

    <div id="domainWelcomeLayer" class="SetBlogId_layer_wrap WelcomeSetBlogId_layer_wrap" style="display:none">
        <div class="BlogId_content">
            <h1 class="title_h1">
                환영합니다!<br>
                블로그 아이디가 만들어졌어요.
            </h1>
            <div class="img_area">
                <img src="https://ssl.pstatic.net/static/blog/img_ani_blogid3_2.gif" class="img" width="500" height="281" alt="섬네일"/>
            </div>
            <div class="text_area">
                <div id="welcomeBlogId" class="blogid"></div>
                <div id="welcomeBlogURL" class="domain">
                    blog.naver.com/
                </div>
            </div>
            <div class="btn_area">
                <a id="closeWelcomeLayer" onclick="nclk_v2(this, 'bsu*i.start', '', '');return false;" class="btn blue">바로 시작하기</a>
                <a id="nextStep" onclick="nclk_v2(this, 'bsu*i.inform', '', '');return false;" class="btn green">추가정보 입력하기</a>
            </div>
        </div>
    </div>

    <div id="blogBasicInfoLayer" class="SetBlogId_layer_wrap InputBlogId_layer_wrap" style="display:none">
        <div class="BlogId_content">
            <h1 class="title_h1">기본정보를 입력해주세요.</h1>
            <p class="title_desc">나중에 언제든지 변경할 수 있어요.</p>
            <div class="profile_area">
                <div class="profile">
                    <div id="blogDomainProfileImage" class="img" title="" style="background-image: url(https://ssl.pstatic.net/static/blog/profile/Profile_defaultIMG_A@2x.png);"></div>
                </div>
                <button id="profileSetBtn" onclick="nclk_v2(this, 'bsu*p.profile', '', '');return false;"  type="button" class="profile_set_btn">프로필 이미지 설정</button>
                <div id="profileSetLayer" class="profile_set_layer">
                    <div class="top_btn_area">
                        <button id="profileImageClear" onclick="nclk_v2(this, 'bsu*p.prfdelete', '', '');" type="button" class="del_btn">지우기</button>
                        <div class="file_btn">
                            <label class="label" for="profile_upload_btn">사진 업로드</label>
                            <input type="file" onclick="nclk_v2(this, 'bsu*p.prfupload', '', '');" id="profile_upload_btn" class="input_file" accept=".png, .jpg, .jpeg, .gif, .bmp"/>
                        </div>
                    </div>
                    <ul id="profilePresetList" class="profile_list">
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop1', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_01.png" width="59" height="59" class="img" alt="프리셋1"  /></button>
                        </li>
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop2', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_02.png" width="59" height="59" class="img" alt="프리셋2"  /></button>
                        </li>
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop3', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_03.png" width="59" height="59" class="img" alt="프리셋3"  /></button>
                        </li>
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop4', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_04.png" width="59" height="59" class="img" alt="프리셋4"  /></button>
                        </li>
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop5', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_05.png" width="59" height="59" class="img" alt="프리셋5"  /></button>
                        </li>
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop6', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_06.png" width="59" height="59" class="img" alt="프리셋6"  /></button>
                        </li>
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop7', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_07.png" width="59" height="59" class="img" alt="프리셋7" /></button>
                        </li>
                        <li class="item">
                            <button type="button" onclick="nclk_v2(this, 'bsu*p.prfop8', '', '');" class="btn"><img src="https://ssl.pstatic.net/static/blog/profile/img_profile_preset_08.png" width="59" height="59" class="img" alt="프리셋8" /></button>
                        </li>
                    </ul>
                    <div class="btn_area">
                        <button id="proflieImageCancelBtn" onclick="nclk_v2(this, 'bsu*p.prfccl', '', '');" type="button" class="cancel_btn">취소</button>
                        <button id="proflieImageSelectedBtn" onclick="nclk_v2(this, 'bsu*p.prfok', '', '');" type="button" class="submit_btn">적용</button>
                    </div>
                </div>
            </div>
            <div class="input_area">
                <div class="input">
                    <label class="label" for="nickname">별명</label>
                    <input onclick="nclk_v2(this, 'bsu*p.nickname', '', '');" type="text" class="input_text" id="nickname" maxlength="20" autocomplete="off"/>
                </div>
                <div class="input">
                    <label class="label" for="blogname">블로그명</label>
                    <input onclick="nclk_v2(this, 'bsu*p.blogname', '', '');" type="text" class="input_text" id="blogname" maxlength="50" autocomplete="off"/>
                </div>
                <div class="input">
                    <label class="label">블로그 주제</label>
                    <button id="showBlogThemeList" onclick="nclk_v2(this, 'bsu*p.blogtopic', '', '');" type="button" class="theme_btn">주제 없음</button>
                    <div id="basicInfoBlogThemeList" class="theme_list_layer">
                        <strong class="title">엔터테인먼트·예술</strong>
                        <ul class="list">
                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option1', '', '');" class="input_radio" name="theme"  id="theme1" data-directoryseq="5">
                                <label for="theme1" class="label">문학·책</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option2', '', '');" class="input_radio" name="theme" id="theme2" data-directoryseq="6">
                                <label for="theme2" class="label">영화</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option3', '', '');" class="input_radio" name="theme" id="theme3" data-directoryseq="8">
                                <label for="theme3" class="label">미술·디자인</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option4', '', '');" class="input_radio" name="theme" id="theme4" data-directoryseq="7">
                                <label for="theme4" class="label">공연·전시</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option5', '', '');" class="input_radio" name="theme" id="theme5" data-directoryseq="11">
                                <label for="theme5" class="label">음악</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option6', '', '');" class="input_radio" name="theme" id="theme6" data-directoryseq="9">
                                <label for="theme6" class="label">드라마</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option7', '', '');" class="input_radio" name="theme" id="theme7" data-directoryseq="12">
                                <label for="theme7" class="label">스타·연예인</label>
                            </li>
                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option8', '', '');" class="input_radio" name="theme" id="theme8" data-directoryseq="13">
                                <label for="theme8" class="label">만화·애니</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option9', '', '');" class="input_radio" name="theme" id="theme9" data-directoryseq="10">
                                <label for="theme9" class="label">방송</label>
                            </li>
                        </ul>
                        <strong class="title">생활·노하우·쇼핑</strong>
                        <ul class="list">
                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option10', '', '');" class="input_radio" name="theme" id="theme10" data-directoryseq="14">
                                <label for="theme10" class="label">일상·생각</label>
                            </li>

                            <li class="item">
                                <input type="radio" onclick="nclk_v2(this, 'bsu*p.option11', '', '');" class="input_radio" name="theme" id="theme11" data-directoryseq="15">
                                <label for="theme11" class="label">육아·결혼</label>
                            </li>

                            <li class="item">

* 웹 페이지 정보 추출하기 - beautifulsoup 사용법 (1)
  * soup.select_one()
  * soup.select()
  * get_text()
  * 개발자 도구 사용

### [문제] 웹 페이지의 제목 가져오기

In [65]:
import requests
from bs4 import BeautifulSoup

url = 'https://kin.naver.com/search/list.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC'

response = requests.get(url)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, 'html.parser')
    ul = soup.select_one('ul.basic1')
    titles = ul.select('li > dl > dt > a') 
    for title in titles:
        print(title.get_text())
else : 
    print(response.status_code)

비주얼스튜디오코드 파이썬 질문합니다,
맥북 파이썬 idel
파이썬 모듈 미리 불러오기
파이썬과 자바
IDLE 파이썬 단축키 알려주세요
파이썬강좌 독학할때 뭐보나요??
파이썬이 미래에 도움이 될까요?
파이썬강의 듣는데가 있나요?
파이썬 라이선스 분석
파이썬독학할 때 어떻게 공부를...

* Selenium을 이용하여 사이트 자동화하기

### [예제]

In [220]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\desktop\pydata-book\venv\lib\site-packages (4.19.0)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.1)
Requirement already satisfied: trio~=0.17 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from trio~=0.17->selenium) (3.6)
Requirement already satisfied: outcome in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from trio~=0.17->selenium) (1.16.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\user\desktop\pydata-book\venv\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [303]:
from selenium import webdriver
driver = webdriver.Chrome()
url = "httpss://www.google.com"
driver.get(url)

### [문제]

In [304]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

# Chrome 브라우저 실행
driver = webdriver.Chrome()

# Google 홈페이지 열기
url = "https://www.google.com"
driver.get(url)

# 페이지가 완전히 로드될 때까지 2초 대기
time.sleep(5)

try:
    # 검색 상자 요소 찾기
    search_box = driver.find_element(By.NAME, "q")

    # 검색어 입력
    search_query = "OpenAI"
    search_box.send_keys(search_query)

    # Enter 키를 눌러 검색 수행
    search_box.send_keys(Keys.RETURN)

    # 검색 결과가 로드될 때까지 5초 대기
    time.sleep(5)

    # 검색 결과 추출
    search_results = driver.find_elements(By.CSS_SELECTOR, "div.g")

    # 검색 결과의 제목과 URL 인쇄
    for result in search_results:
        title = result.find_element(By.CSS_SELECTOR, "h3").text
        url = result.find_element(By.CSS_SELECTOR, "a").get_attribute("href")
        print("제목:", title)
        print("URL:", url)
        print()

except Exception as e:
    print("오류가 발생했습니다:", e)

finally:
    # 브라우저 창 닫기
    driver.quit()

제목: OpenAI
URL: https://openai.com/

제목: OpenAI
URL: https://openai.com/

제목: OpenAI
URL: https://namu.wiki/w/OpenAI

제목: OpenAI
URL: https://en.wikipedia.org/wiki/OpenAI

제목: 오픈AI - 위키백과, 우리 모두의 백과사전
URL: https://ko.wikipedia.org/wiki/%EC%98%A4%ED%94%88AI

제목: OpenAI
URL: https://www.linkedin.com/company/openai

제목: OpenAI
URL: https://twitter.com/OpenAI

제목: 설명
URL: https://www.google.com/search?q=OpenAI&sca_esv=e2dc8174cd1c459c&source=hp&ei=pGUKZr-TC5in1e8P86KKiAo&iflsig=ANes7DEAAAAAZgpztFiL7HzSE1JsOY_j4Cf_bpy90-K6&udm=&ved=0ahUKEwi_9bGrwqCFAxWYU_UHHXORAqEQ4dUDCA8&uact=5&oq=OpenAI&gs_lp=Egdnd3Mtd2l6IgZPcGVuQUlIRVAAWCBwAHgAkAEAmAEAoAEAqgEAuAEDyAEA-AEBmAIAoAIAmAMAkgcAoAcA&sclient=gws-wiz#